 .fetchSubgridControl{
  width: 100%;
} 

.fetchSubgridControl .fetchLoading{
  width: 100%;
  justify-content: center;
}

.fetchSubgridControl .fetchLoading .loadingText{
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

.fetchSubgridControl .infoMessage{
  width: 100%;
}

.fetchSubgridControl .infoMessage .infoMessageText{
  text-align: center;
}

.fetchSubgridControl .ms-DetailsList{
  overflow: inherit;
} 

.fetchSubgridControl .ms-List {
  width: 100%;
}

.fetchSubgridControl .ms-FocusZone, .ms-DetailsRow {
  display: flex;
  padding-top: 0px;
}

.fetchSubgridControl .ms-Stack{
  border-bottom: 1px solid rgb(237, 235, 233);
}

.ms-Button--commandBar:hover .ms-Button-icon {
  color: rgb(161, 159, 157);
}

.fetchSubgridControl, .ms-DetailsHeader-cell, .ms-DetailsRow-fields{
  flex: 1 1 auto;
  font-size: 12px;
  font-weight: 400;
}

.ms-DetailsRow-cell{
  flex: 1 1 auto;
  font-size: 14px;
  font-weight: 400;
}

.fetchSubgridControl .ms-DetailsHeader-cellIsCheck, .ms-DetailsRow-cellCheck {
  flex: none;
}

.ms-DetailsHeader-cell{
  font-size: 13px;
}