 .fetchSubgridControl{
  overflow: auto;
  width: 100%;
} 

.fetchSubgridControl .fetchLoading{
  width: 100%;
  justify-content: center;
}

.fetchSubgridControl .fetchLoading .loadingText{
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

.fetchSubgridControl .infoMessage{
  width: 100%;
}

.fetchSubgridControl .infoMessage .infoMessageText{
  text-align: center;
}

.fetchSubgridControl .ms-DetailsList{
  overflow: inherit;
} 

.fetchSubgridControl .ms-List {
  width: 100%;
}

.fetchSubgridControl .ms-FocusZone, .ms-DetailsRow {
  display: flex;
}

.fetchSubgridControl .ms-DetailsHeader-cell, .ms-DetailsRow-fields, .ms-DetailsRow-cell {
  flex: 1;
}

.fetchSubgridControl .ms-DetailsHeader-cellIsCheck, .ms-DetailsRow-cellCheck {
  flex: none;
}

.fetchSubgridControl .ms-DetailsRow-check{
  display: none;
}