 .FetchSubgridControl {
  width: 100%;
} 

.FetchSubgridControl .fetchLoading {
  width: 100%;
  justify-content: center;
}

.FetchSubgridControl .fetchLoading .loadingText {
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

.FetchSubgridControl .infoMessage .infoMessageText {
  text-align: center;
  width: 100%;
}

.FetchSubgridControl .ms-DetailsList {
  overflow: inherit;
} 

.FetchSubgridControl .ms-List {
  width: 100%;
}

.FetchSubgridControl .ms-FocusZone, .FetchSubgridControl .ms-DetailsRow {
  display: flex;
  padding-top: 0px;
}

.FetchSubgridControl .ms-Stack {
  border-bottom: 1px solid rgb(237, 235, 233);
}

.FetchSubgridControl .ms-Button--commandBar:hover .FetchSubgridControl .ms-Button-icon {
  color: rgb(161, 159, 157);
}

.FetchSubgridControl .ms-DetailsHeader-cell, .FetchSubgridControl .ms-DetailsRow-fields, .FetchSubgridControl .ms-DetailsRow-cell {
  flex: 1 1 auto;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.FetchSubgridControl .ms-DetailsHeader-cellName {
  font-size: 12px;
}

.FetchSubgridControl .ms-DetailsHeader-cellIsCheck, .FetchSubgridControl .ms-DetailsRow-cellCheck {
  flex: none;
}

.FetchSubgridControl .ms-DetailsHeader-cell {
  font-size: 13px;
}

.FetchSubgridControl .disableButton {
  display: none;
}

.FetchSubgridControl .ms-DetailsHeader-filterChevron {
  font-size: 8px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: rgb(96, 94, 92);
}

.FetchSubgridControl .ms-DetailsHeader-check {
  opacity: 1;
}